.row {
    border: 2px solid black; 
}

.col-md-6{
    text-align: center;
}

.score{
    height: 50px;
    border: 2px black solid;
}

.crystal{
    height: 150px;
    background-size: 100%;
}

#crystal-one{
    background-image: url(../images/crystalone.jpg);
}

#crystal-two{
    background-image: url(../images/crystaltwo.jpeg);
}
#crystal-three{
    background-image: url(../images/crystalthree.jpeg);
}

#crystal-four{
    background-image: url(../images/crystalfour.jpeg);
}
