/* .col-md-6{
    text-align: center;
} */
body{
    background-color: #f8f8f8;
}

#game-title{
    padding-top: 20px;
    padding-bottom: 20px;
}

.counter{
    height: 40px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    padding-top: 20px;
}


#directions-header{
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
}

#directions{
    font-size: 16px;
    border-right: 2px black solid;
}

.score{
    height: 50px;
    text-align: center;
}
#crystal-box{
    border: 2px solid black;
}

.crystal{
    height: 150px;
    background-size: 50%;
    background-position: center;
    margin: 20px;
    background-repeat: no-repeat;
}

#wins{
    font-size: 24px;
}

#losses{
    font-size: 24px;
}

#title {
    font-size: 36px;
    text-align: center;
}
.score-header{
    font-size: 24px;
    color: gray;
    font-weight: bold;
}

.score {
    font-size: 24px;
}

.header {
    font-weight: bold;
    padding-top: 10px;
    font-size: 20px;
    text-align: center;
}

#crystal-one{
    background-image: url(../images/greencrystal.png);
}

#crystal-two{
    background-image: url(../images/bluecrystal.png);
}
#crystal-three{
    background-image: url(../images/redcrystal.png);
}

#crystal-four{
    background-image: url(../images/yellowcrystal.png);
}


